<!DOCTYPE html>

{% load static %}

<html lang="pt">

<head>
	
    <title> Cadastro de Produtos </title>

<link href="{% static 'css/estilo_cadastro_produto.css' %}" rel="stylesheet" type="text/css">

</head>


<!-- <body>

<h1> Cadastro de Produtos </h1>

<!-- <a href= "{ % url 'cadastro_produtos' % }" >
    <button type="button">CADASTRAR</button>
</a> -->


<!-- <form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    

    <p> Código: {{form.codigo}}</p>
    <p> Produto: {{form.produto}}</p>
    <p> Estoque: {{form.estoque}}</p>
    <p> Valor: {{form.valor}}</p>
    

    <button type="submit"> Cadastrar </button>
</form>

{% for cadastro_produtos in lista_produtos %}
    <p>{{cadastro_produtos.nome}} </p>

    
{% empty %}
{% endfor %}

</body> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <body>

    <div id="cadastro_usuario">
        <h3 class="text-center text-white pt-5">Cadastre o seu produto</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Cadastre o seu produto</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Código:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Produto:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Estoque:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Valor:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                       
                            <div id="register-link" class="text-right">
                                <a href="{% url 'cadastro' %}" class="text-info">
                               <center><input type="button"  name="Enviar" class="btn btn-info btn-md" value="Enviar"></a></center>
                            </div>
                        </br>
                    </br>
                            <div id="register-link" class="text-right">
                                
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>