<!DOCTYPE html>

{% load static %}

<html lang="pt">

<head>
	<title> Cadastro de Usuário </title>

<link href="{% static 'css/estilo_login.css' %}" rel="stylesheet" type="text/css">


</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <body>

    <div id="cadastro_usuario">
        <h3 class="text-center text-white pt-5">Cadastre-se</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{% url 'cadastrouser' %}" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Cadastre-se</h3>
                            
                            {{form1.as_table}}
                            {{form2.as_table}}
                       
                            <div id="register-link" class="text-right">
                                
                               <center><input type="submit"  value="Enviar" class="btn btn-info btn-md" value="Enviar"></a></center>
                            </div>
                        </br>
                    </br>
                            <div id="register-link" class="text-right">
                                
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <br/>
      <br/>
       <br/>
        <br/>
</body> -->

<!-- <body>

<h1> Cadastro de Usuario </h1>


<p> Lista de Usuarios: </p>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    

    <p> Nome: {{form.nome}}</p>
    <p> Sobrenome: {{form.sobrenome}}</p>
    <p> Email: {{form.email}}</p>
    <p> Telefone: {{form.telefone}}</p>
    <p> Senha: {{form.senha}}</p>
    <p> Confirmar Senha: {{form.confirmarsenha}}</p>
    

    <button type="submit"> Cadastrar </button>
</form> 

</body> -->
 </html>