body {
  font-family: 'Poppins', sans-serif;
  color: #41566A;
}

h1,
h2,
h3,
h4 {
  color: #FF8A8A;
}

.a
{
   border: 1px solid #ddd;
}

.b
{
  background: #000000;
  color: white;
  
}

.c{
  text-align:center;
}

.d{
  background: #FF8A8A;
  color: white;
  text-align: center
}

.bg-light {
    background-color: #f8f9fa!important;
}
